* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box 1px solid;
}

.image {
    display: flex;
}

img {
    border-radius: 10px;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background:
        radial-gradient(circle at 20% 30%, rgba(255, 255, 255, 0.1), transparent 25%),
        radial-gradient(circle at 70% 60%, rgba(255, 255, 255, 0.1), transparent 30%),
        linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-image: url(./img/bigg.jpg);
    background: #fff;
    padding: 40px 30px;
    border-radius: 12px;

    width: 300px;
}

.login-container h2 {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
}

.form-group input:focus {
    border-color: #66a6ff;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #66a6ff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}


.login-btn:hover {
    background-color: #5597f3;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.signup-link a {
    color: #66a6ff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

.help button {

    padding: 10px;
    margin-top: 30px;
    background-color: #d4dae2;
    border: none;
    color: rgb(1, 1, 1);
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: 90px;
}

/*ADD TO FAVOURITE */


